# Pandas IO

## Criando os nomes

In [1]:
import pandas as pd # noqa E402

In [2]:
# Se precisar recriar as listas no de nomes, descomente o código abaixo
# e execute.

# nomes = pd.read_csv('../data/nomes.csv')
# nomes.head(10)

# selecao_m = nomes['classification'] == 'M'
# nomes_masculinos = nomes[selecao_m][['first_name']]
# nomes_masculinos.reset_index(drop=True, inplace=True)
# nomes_masculinos.rename(columns={'first_name': 'nome'}, inplace=True)
# nomes_masculinos['nome'] = nomes_masculinos['nome'].str.capitalize()
# nomes_masculinos.to_csv('../data/nomes_m.csv', index=False)

# selecao_f = nomes['classification'] == 'F'
# nomes_femininos = nomes[selecao_f][['first_name']]
# nomes_femininos.reset_index(drop=True, inplace=True)
# nomes_femininos.rename(columns={'first_name': 'nome'}, inplace=True)
# nomes_femininos['nome'] = nomes_femininos['nome'].str.capitalize()
# nomes_femininos.to_csv('../data/nomes_f.csv', index=False)

In [3]:
# nomes_m = pd.read_json(
#     'https://servicodados.ibge.gov.br/api/v1/censos/nomes/'
#     + 'ranking?qtd=200&sexo=m'
# )

# Quando o serviço acima estiver indisponível, use o código abaixo:
nomes_m = pd.read_csv('../data/nomes_m.csv')
nomes_m = nomes_m.sample(200)
nomes_m.reset_index(drop=True, inplace=True)

# nomes_f = pd.read_json(
#     'https://servicodados.ibge.gov.br/api/v1/censos/nomes/'
#     + 'ranking?qtd=200&sexo=f'
# )

# Quando o serviço acima estiver indisponível, use o código abaixo:
nomes_f = pd.read_csv('../data/nomes_f.csv')
nomes_f = nomes_f.sample(200)
nomes_f.reset_index(drop=True, inplace=True)

In [4]:
nomes_m.head(10)

        nome
0     Ismaik
1    Giulano
2      Izaia
3     Adeson
4   Kalisson
5      Saime
6       Naul
7      Jomes
8   Deberson
9  Jevanildo

In [5]:
nomes_f.head(10)

          nome
0       Ysnara
1         Maiz
2   Regislania
3     Rilvanda
4     Marineze
5      Shauane
6  Claudenilza
7      Elenice
8    Verediana
9       Jenima

In [6]:
print(f'Quantidade de nomes: {len(nomes_m) + len(nomes_f)}')

Quantidade de nomes: 400

In [7]:
frames = [nomes_m.sample(200), nomes_f.sample(200)]

In [8]:
type(pd.concat(frames)['nome'])

pandas.core.series.Series

In [9]:
nomes = pd.concat(frames)['nome'].to_frame()

In [10]:
nomes

         nome
10    Joarlei
168    Hebete
46       Keny
83     Angilo
73    Hudeson
..        ...
32   Aritania
31   Vanailda
186    Viiane
80    Silanda
164   Almenir

[400 rows x 1 columns]

In [11]:
nomes = nomes.sample(nomes.shape[0])
nomes.reset_index(drop=True, inplace=True)
nomes

            nome
0          Taize
1          Ellys
2        Aldiran
3       Lucrecia
4       Aldeilda
..           ...
395       Edilis
396     Nalberti
397     Deimisom
398       Jaleel
399  Waldenilson

[400 rows x 1 columns]

## incluindo ID dos alunos

In [12]:
import numpy as np # noqa E402
np.random.seed(123)

In [13]:
total_alunos = nomes.shape[0]
total_alunos

400

In [14]:
nomes['id_aluno'] = np.random.permutation(total_alunos) + 1

In [15]:
nomes.sample(5)

          nome  id_aluno
188    Shauane       369
57       Milli       303
203  Jucinaldo       382
382  Estefanny        33
230  Jacimario       111

In [16]:
dominios = ['@dominiodoemail.com.br', '@servicodoemail.com']
nomes['dominio'] = np.random.choice(dominios, total_alunos)

In [17]:
nomes

            nome  id_aluno                 dominio
0          Taize       235  @dominiodoemail.com.br
1          Ellys        43     @servicodoemail.com
2        Aldiran       304     @servicodoemail.com
3       Lucrecia       156  @dominiodoemail.com.br
4       Aldeilda       343     @servicodoemail.com
..           ...       ...                     ...
395       Edilis       231  @dominiodoemail.com.br
396     Nalberti        99     @servicodoemail.com
397     Deimisom       323  @dominiodoemail.com.br
398       Jaleel       383  @dominiodoemail.com.br
399  Waldenilson       366     @servicodoemail.com

[400 rows x 3 columns]

In [18]:
nomes['email'] = nomes['nome'].str.cat(nomes.dominio).str.lower()
nomes

,nome,id_aluno,dominio,email
0,Taize,235,@dominiodoemail.com.br,taize@dominiodoemail.com.br
1,Ellys,43,@servicodoemail.com,ellys@servicodoemail.com
2,Aldiran,304,@servicodoemail.com,aldiran@servicodoemail.com
3,Lucrecia,156,@dominiodoemail.com.br,lucrecia@dominiodoemail.com.br
4,Aldeilda,343,@servicodoemail.com,aldeilda@servicodoemail.com
...,...,...,...,...
395,Edilis,231,@dominiodoemail.com.br,edilis@dominiodoemail.com.br
396,Nalberti,99,@servicodoemail.com,nalberti@servicodoemail.com
397,Deimisom,323,@dominiodoemail.com.br,deimisom@dominiodoemail.com.br
398,Jaleel,383,@dominiodoemail.com.br,jaleel@dominiodoemail.com.br
399,Waldenilson,366,@servicodoemail.com,waldenilson@servicodoemail.com

In [19]:
type(np.random)

module

## Criando a tabela de Cursos

In [20]:
import html5lib # noqa E402

In [21]:
url = 'http://tabela-cursos.herokuapp.com/index.html'
cursos = pd.read_html(url)
cursos

# se o serviço acima estiver indisponível, use o código abaixo:
# cursos = [pd.read_csv('../data/cursos.csv')]

[                          Nome do curso
 0                 Lógica de programação
 1                         Java para Web
 2                           C# para Web
 3                         Ruby on Rails
 4                      Cursos de Python
 5                         PHP com MySql
 6                         .NET para web
 7            Novas integrações com Java
 8                          TDD com Java
 9                   Código limpo com C#
 10  Preparatório para certificação Java
 11                      Hardware básico
 12                Persistência com .NET
 13                  Desenvolvendo jogos
 14                     Análise de dados
 15                   Estatística básica
 16                  Internet das coisas
 17                Programação funcional
 18                Boas práticas em Java
 19          Orientação objetos com Java]

In [22]:
# O tipo retornado por read_html é um lista de DataFrames
type(cursos)

list

In [23]:
len(cursos)

1

In [24]:
cursos = cursos[0]

In [25]:
cursos

                          Nome do curso
0                 Lógica de programação
1                         Java para Web
2                           C# para Web
3                         Ruby on Rails
4                      Cursos de Python
5                         PHP com MySql
6                         .NET para web
7            Novas integrações com Java
8                          TDD com Java
9                   Código limpo com C#
10  Preparatório para certificação Java
11                      Hardware básico
12                Persistência com .NET
13                  Desenvolvendo jogos
14                     Análise de dados
15                   Estatística básica
16                  Internet das coisas
17                Programação funcional
18                Boas práticas em Java
19          Orientação objetos com Java

In [26]:
type(cursos)

pandas.core.frame.DataFrame

In [27]:
cursos.head()

           Nome do curso
0  Lógica de programação
1          Java para Web
2            C# para Web
3          Ruby on Rails
4       Cursos de Python

## Alterando o index de cursos

In [28]:
cursos.rename(columns={'Nome do curso': 'nome_do_curso'}, inplace=True)
cursos

                          nome_do_curso
0                 Lógica de programação
1                         Java para Web
2                           C# para Web
3                         Ruby on Rails
4                      Cursos de Python
5                         PHP com MySql
6                         .NET para web
7            Novas integrações com Java
8                          TDD com Java
9                   Código limpo com C#
10  Preparatório para certificação Java
11                      Hardware básico
12                Persistência com .NET
13                  Desenvolvendo jogos
14                     Análise de dados
15                   Estatística básica
16                  Internet das coisas
17                Programação funcional
18                Boas práticas em Java
19          Orientação objetos com Java

In [29]:
cursos['id'] = cursos.index + 1
cursos

                          nome_do_curso  id
0                 Lógica de programação   1
1                         Java para Web   2
2                           C# para Web   3
3                         Ruby on Rails   4
4                      Cursos de Python   5
5                         PHP com MySql   6
6                         .NET para web   7
7            Novas integrações com Java   8
8                          TDD com Java   9
9                   Código limpo com C#  10
10  Preparatório para certificação Java  11
11                      Hardware básico  12
12                Persistência com .NET  13
13                  Desenvolvendo jogos  14
14                     Análise de dados  15
15                   Estatística básica  16
16                  Internet das coisas  17
17                Programação funcional  18
18                Boas práticas em Java  19
19          Orientação objetos com Java  20

In [30]:
cursos.set_index('id', inplace=True)
cursos

                          nome_do_curso
id
1                 Lógica de programação
2                         Java para Web
3                           C# para Web
4                         Ruby on Rails
5                      Cursos de Python
6                         PHP com MySql
7                         .NET para web
8            Novas integrações com Java
9                          TDD com Java
10                  Código limpo com C#
11  Preparatório para certificação Java
12                      Hardware básico
13                Persistência com .NET
14                  Desenvolvendo jogos
15                     Análise de dados
16                   Estatística básica
17                  Internet das coisas
18                Programação funcional
19                Boas práticas em Java
20          Orientação objetos com Java

In [31]:
nomes['matriculas'] = np.ceil(
    np.random.exponential(size=total_alunos) * 1.5
).astype(int)

In [32]:
nomes.sample(20)

,nome,id_aluno,dominio,email,matriculas
193,Uandra,146,@dominiodoemail.com.br,uandra@dominiodoemail.com.br,2
387,Dieiny,97,@dominiodoemail.com.br,dieiny@dominiodoemail.com.br,2
232,Welitor,322,@dominiodoemail.com.br,welitor@dominiodoemail.com.br,2
313,Hendi,260,@servicodoemail.com,hendi@servicodoemail.com,2
199,Nerildes,35,@dominiodoemail.com.br,nerildes@dominiodoemail.com.br,1
16,Yani,191,@servicodoemail.com,yani@servicodoemail.com,1
231,Vandelina,336,@servicodoemail.com,vandelina@servicodoemail.com,1
135,Alaidis,387,@servicodoemail.com,alaidis@servicodoemail.com,3
364,Uelson,136,@dominiodoemail.com.br,uelson@dominiodoemail.com.br,1
181,Vani,168,@dominiodoemail.com.br,vani@dominiodoemail.com.br,2
157,Rhayssa,153,@dominiodoemail.com.br,rhayssa@dominiodoemail.com.br,2
96,Guanai,211,@servicodoemail.com,guanai@servicodoemail.com,8
148,Orildo,334,@dominiodoemail.com.br,orildo@dominiodoemail.com.br,1
223,Rhayza,321,@dominiodoemail.com.br,rhayza@dominiodoemail.com.br,3
63,Themer,228,@servicodoemail.com,themer@servicodoemail.com,1
121,Lerindo,106,@dominiodoemail.com.br,lerindo@dominiodoemail.com.br,1
284,Edigelson,78,@dominiodoemail.com.br,edigelson@dominiodoemail.com.br,1
394,Elianildo,18,@dominiodoemail.com.br,elianildo@dominiodoemail.com.br,2
388,Ilceia,226,@servicodoemail.com,ilceia@servicodoemail.com,1
152,Wilfrido,160,@dominiodoemail.com.br,wilfrido@dominiodoemail.com.br,3

In [33]:
nomes.matriculas.describe()

count    400.000000
mean       2.120000
std        1.498738
min        1.000000
25%        1.000000
50%        2.000000
75%        3.000000
max       10.000000
Name: matriculas, dtype: float64